<h1>All The Guests</h1>

<ul>

  <% @guests.each do |guest| %>
  <%= link_to guest_path(guest) %>
  <a href="/guests/1">Profile</a>
    <li><%= guest.name %></li>
    <li><%= guest.occupation %></li>
  <% end %>
</ul>
